<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo" routerLink="/dashboard"><mat-icon>language</mat-icon> Medicord</span>

    <span class="spacer"></span>
    <a mat-button routerLink="/questionnaire" class="questionnaire-btn">Take the questionnaire</a>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
