:host {

  .logo {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;

    .mat-icon {
      margin-right: 10px;
    }
  }

  .questionnaire-btn {
    background-color: red;
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
