<h2 class="mat-h2 heading">Upload your examination results</h2>
<mat-card class="upload-card"
          [ngClass]="{dragging: dragOver}"
          dropzone="true"
          (drop)="onDrop($event)"
          (dragover)="onDragOver($event)"
          (dragenter)="dragOver = true"
          (dragleave)="dragOver = false">

  <div *ngIf="!uploading">
    <span class="upload-text"><mat-icon>cloud_upload</mat-icon> Drag files here or</span>
    <label class="upload-button">
      <input type="file" (change)="onFileSelect($event.target)">
      <span>browse</span>
    </label>
    <span>to upload.</span>
  </div>

  <mat-progress-spinner
    *ngIf="uploading"
    class="example-margin"
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

<mat-card class="results-card">

  <div *ngIf="!processing && !results">No results yet!</div>

  <div *ngIf="processing" class="getting-results-loader">
    <mat-progress-spinner
      *ngIf="processing"
      class="example-margin"
      color="primary"
      diameter="30"
      mode="indeterminate">

    </mat-progress-spinner>

    <span>Processing data</span>
  </div>

  <div *ngIf="results">You have {{results.percentage}}% chance to develop cancer in the next 5 years!</div>
</mat-card>
