:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-top: 30px;
  }

  mat-card {
    width: calc(100% - 100px);
    margin: 10px auto;
    max-width: 600px;
  }

  .upload-card {
    display: flex;
    transition: background-color 200ms ease-in;
    align-items: center;
    justify-content: center;
    height: 100px;

    &.dragging {
      background-color: lighten(#3f51b5, 30);
    }

    .upload-text {
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 10px;
      }
    }

    label {
      cursor: pointer;
      margin: 0 0.5em;
      font-weight: bold;

      input[type='file'] {
        display: none;
      }
    }
  }

  .getting-results-loader {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 10px;
    }
  }
}
