:host {
  .heading {
    margin-top: 50px;
    padding: 0 20px;
  }

  .mat-stepper-horizontal {
    min-height: 85vh;

    .form-container {
      padding: 40px;
      max-width: 720px;
      margin: 20px auto 0 auto;
      width: 100%;
      background: #fff;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

      .form-sub-section-header {
        margin: 20px 0 0 0;
      }
      .form-sub-section-subheading {
        margin: 0 0 10px 0;
        color: rgba(0, 0, 0, 0.54);
      }
      .form-sub-section-content {
        padding: 10px;
      }

      hr {
        &.inset {
          border-color: #eaeaea;
          width: 10%;
          display: block;
          margin-left: 0;
          border-style: solid;
        }
      }

      .value-text {
        position: absolute;
        left: 100px;
        top: 8px;
        font-size: 14px;
        color: red;
      }

    }
  }

  .card {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    padding: 20px;

    &:first-of-type {
      margin: 0 0 10px 0;
    }
  }

}
