<div class="questionnaire-container">
  <div fxLayout="column" fxFlex="80" fxFlexOffset="10">

    <div class="heading">
      <h2 class="mat-h2">Questionnaire</h2>
      <p>Please fill as many fields as you are comfortable with. Don't worry, your anonymity is important to us.</p>
    </div>

    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" fxFlex>

      <mat-step [stepControl]="informationAndHabitsForm">
        <div class="form-container">
          <ng-template matStepLabel>Personal information and habits</ng-template>
          <form [formGroup]="informationAndHabitsForm">

            <h3 class="mat-h3 form-sub-section-header">Personal and social history</h3>
            <p class="mat-caption form-sub-section-subheading">Information on physiological and social habits</p>
            <div fxLayout="column" formGroupName="personalAndSocialHistory" class="form-sub-section-content">

              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Age" formControlName="age">
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Height" formControlName="height">
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Weight" formControlName="weight">
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Country" formControlName="country">
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Bowel movements" formControlName="bowelMovements">
                    <mat-option *ngFor="let choice of dropdownLists.bowelMovementChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Sleep quality" formControlName="sleepQuality">
                    <mat-option *ngFor="let choice of dropdownLists.sleepQualityChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Physical activity" formControlName="physicalActivity">
                    <mat-option *ngFor="let choice of dropdownLists.physicalActivityChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Smoker" formControlName="smoker">
                    <mat-option *ngFor="let choice of dropdownLists.smokerChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Alcohol consumption" formControlName="alcoholConsumption">
                    <mat-option *ngFor="let choice of dropdownLists.alcoholConsumptionChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Marital status" formControlName="maritalStatus">
                    <mat-option *ngFor="let choice of dropdownLists.maritalStatusChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Race" formControlName="race">
                    <mat-option *ngFor="let choice of dropdownLists.raceChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Usual wake up time" formControlName="usualWakeUpTime">
                    <mat-option *ngFor="let choice of dropdownLists.usualWakeUpTimeChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Usual bed time" formControlName="usualBedTime">
                    <mat-option *ngFor="let choice of dropdownLists.usualBedTimeChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Other information"
                                          autocomplete="otherInformation"
                                          formControlName="otherInformation"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center" class="actions">
              <button mat-button matStepperNext mat-raised-button color="primary">Next</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
              <button routerLink="/dashboard" mat-button color="warn">I want to do this later</button>
            </div>

          </form>
        </div>
      </mat-step>

      <mat-step [stepControl]="informationAndHabitsForm">
        <div class="form-container">
          <ng-template matStepLabel>Medical history</ng-template>
          <form [formGroup]="informationAndHabitsForm">

            <h3 class="mat-h3 form-sub-section-header">Medical history</h3>
            <p class="mat-caption form-sub-section-subheading">Pathologies, medication and personal and family
              history</p>
            <div fxLayout="column" formGroupName="medicalHistory" class="form-sub-section-content">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Diseases"
                                          autocomplete="diseases"
                                          formControlName="diseases"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Medication"
                                          autocomplete="medication"
                                          formControlName="medication"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Personal history"
                                          autocomplete="personalHistory"
                                          formControlName="personalHistory"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Family history"
                                          autocomplete="familyHistory"
                                          formControlName="familyHistory"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Other information"
                                          autocomplete="otherInformation"
                                          formControlName="otherInformation"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="actions">
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext mat-raised-button color="primary">Next</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
              <button routerLink="/dashboard" mat-button color="warn">I want to do this later</button>
            </div>

          </form>
        </div>
      </mat-step>

      <mat-step [stepControl]="informationAndHabitsForm">
        <div class="form-container">
          <ng-template matStepLabel>Dietary history</ng-template>
          <form [formGroup]="informationAndHabitsForm">

            <h3 class="mat-h3 form-sub-section-header">Dietary history</h3>
            <p class="mat-caption form-sub-section-subheading">Food preferences of the patient</p>
            <div fxLayout="column" formGroupName="dietaryHistory" class="form-sub-section-content">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Favorite food"
                                          autocomplete="favoriteFood"
                                          formControlName="favoriteFood"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Disliked food"
                                          autocomplete="dislikedFood"
                                          formControlName="dislikedFood"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Allergies and intolerances"
                                          autocomplete="allergiesAndIntolerances"
                                          formControlName="allergiesAndIntolerances"></textarea>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Water intake" formControlName="waterIntake">
                    <mat-option *ngFor="let choice of dropdownLists.waterIntakeChoices"
                                [value]="choice.value">{{ choice.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex>
                                <textarea matInput
                                          placeholder="Other information"
                                          autocomplete="otherInformation"
                                          formControlName="otherInformation"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="actions">
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-button mat-raised-button color="primary" (click)="onSubmit()">Done</button>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="center">
              <button routerLink="/dashboard" mat-button color="warn">I want to do this later</button>
            </div>
        
          </form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
      
  </div>
</div>

