<mat-card>
  <mat-form-field>
    <input matInput placeholder="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="password">
  </mat-form-field>

  <div class="buttons">
    <button mat-button color="primary" routerLink="/signup">Signup</button>
    <button mat-raised-button color="primary">Login</button>
  </div>
</mat-card>
