:host {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;

  mat-card {
    display: flex;
    max-width: 500px;
    flex-direction: column;

    mat-form-field {
      min-width: 300px;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}
