<mat-card>
  <mat-form-field>
    <input matInput placeholder="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" placeholder="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="verify password">
  </mat-form-field>

  <div class="buttons">
    <button mat-button color="primary" routerLink="/login">Login</button>
    <button mat-raised-button color="primary">Signup</button>
  </div>
</mat-card>
